Source: python-cattrs
Section: python
Priority: optional
Maintainer: Sandro Tosi <morph@debian.org>
Uploaders: Debian Python Team <team+python@tracker.debian.org>,
Build-Depends: debhelper-compat (= 13),
               pybuild-plugin-pyproject,
               python3-all,
               python3-attr <!nocheck>,
               python3-bson <!nocheck>,
               python3-hypothesis <!nocheck>,
               python3-msgpack <!nocheck>,
               python3-poetry-core,
               python3-pytest <!nocheck>,
               python3-pytest-benchmark <!nocheck>,
               python3-sphinx,
               python3-tomlkit <!nocheck>,
               python3-ujson <!nocheck>,
               python3-yaml <!nocheck>,
Standards-Version: 4.6.2.0
Testsuite: autopkgtest-pkg-pybuild
Homepage: https://github.com/python-attrs/cattrs
Vcs-Git: https://salsa.debian.org/python-team/packages/cattrs.git
Vcs-Browser: https://salsa.debian.org/python-team/packages/cattrs

Package: python3-cattr
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
Recommends: ${python3:Recommends},
Suggests: ${python3:Suggests},
Description: composable complex class support for attrs and dataclasses
 cattrs is an open source Python library for structuring and unstructuring
 data. cattrs works best with attrs classes, dataclasses and the usual
 Python collections, but other kinds of classes are supported by manually
 registering converters.
 .
 Python has a rich set of powerful, easy to use, built-in data types like
 dictionaries, lists and tuples. These data types are also the lingua franca
 of most data serialization libraries, for formats like json, msgpack, yaml or
 toml.
 .
 Data types like this, and mappings like dict s in particular, represent
 unstructured data. Your data is, in all likelihood, structured: not all
 combinations of field names or values are valid inputs to your programs. In
 Python, structured data is better represented with classes and enumerations.
 attrs is an excellent library for declaratively describing the structure of
 your data, and validating it.
 .
 When you're handed unstructured data (by your network, file system,
 database...),  uattrs helps to convert this data into structured data. When you
 have to convert your structured data into data types other libraries can
 handle, cattrs turns your classes and enumerations into dictionaries, integers
 and strings.

Package: python-cattrs-doc
Section: doc
Architecture: all
Depends: ${misc:Depends},
         ${sphinxdoc:Depends},
Multi-Arch: foreign
Description: documentation for the cattrs Python library
 cattrs is an open source Python library for structuring and unstructuring
 data. cattrs works best with attrs classes, dataclasses and the usual
 Python collections, but other kinds of classes are supported by manually
 registering converters.
 .
 Python has a rich set of powerful, easy to use, built-in data types like
 dictionaries, lists and tuples. These data types are also the lingua franca
 of most data serialization libraries, for formats like json, msgpack, yaml or
 toml.
 .
 Data types like this, and mappings like dict s in particular, represent
 unstructured data. Your data is, in all likelihood, structured: not all
 combinations of field names or values are valid inputs to your programs. In
 Python, structured data is better represented with classes and enumerations.
 attrs is an excellent library for declaratively describing the structure of
 your data, and validating it.
 .
 When you're handed unstructured data (by your network, file system,
 database...),  uattrs helps to convert this data into structured data. When you
 have to convert your structured data into data types other libraries can
 handle, cattrs turns your classes and enumerations into dictionaries, integers
 and strings.
 .
 This package provides documentation for cattrs
